/*
 * @Description: 自定义SCSS变量
 * @Author: qingtong
 * @Date: 2019-02-11 16:20:52
 * @Last Modified by: qingtong
* @Last Modified time: 2019-02-11 16:20:52
 */

/* 主色调 */
$main-color: #4e9b7b;

/* 菜单默认色 */
$menu-icon-color: #606a62;

/* 辅助色 */
$auxiliary-color: #c3c9c6;
$success-color: #13ce66;
$warning-color: #ffc53d;
$danger-color: #ff5252;

/* 中性色 用于文本、背景、线框 */
$text-color: #666;
$prominent-text-color: #333;
$tips-text-color: #a9adb7;
$icon-bg-color: #cdcdcd;
$table-odd-bg-color: #fafafa;
$table-even-bg-color: #f0f3fa;
$dividing-line-color: #e8e8e8;
$a-hover-color: #4CBB8D;

/* 面包屑当前页面名称颜色 */
$breadcrumbs-text-color: #4e9b7b;